.button {
    width: 90%;
    display: flex;
    background-color: $bloc_color;
    font-family: arial;
    padding: 20px 20px 20px 0px;
    border-radius: 25px;
    box-shadow: 0px 0px 11px 2px #D0D0D0;
    margin-top: 20px;
    align-items: center;
    &__number {
        width: 10px;
        height: 10px;
        padding: 10px;
        display: flex;
        background-color: $primary-color;
        color: white;
        border-radius: 100px;
        align-items: center;
    }
    &__icon {
        padding-left: 15px;
        padding-right: 15px;
        color: grey;
    }
    &__title {
        display: flex;
    }
}