.button {
    width: 90%;
    height: 30px;
    display: flex;
    background-color: $bloc_color;
    font-family: 'roboto';
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    box-shadow: 1px 3px 10px 3px #D0D0D0;
    margin-top: 20px;
    align-items: center;
    @include desktop {
        width: 25%;
        margin-top: unset;
    }
    @include tablet {
        width: 25%;
        height: 15px;
        margin-top: unset;
    }
    &__number {
        width: 10px;
        height: 10px;
        padding: 10px;
        display: flex;
        position: absolute;
        left: 10px;
        background-color: $primary-color;
        color: white;
        border-radius: 100px;
        align-items: center;
        @include desktop {
            position: unset;
            padding: 30px;
            width: 5px;
            border-radius: 20px 0px 0px 20px;
            justify-content: flex-start;
        }
        @include tablet {
            position: unset;
            padding: 30px;
            width: 5px;
            height: 0px;
            border-radius: 20px 0px 0px 20px;
            justify-content: flex-start;
        }
    }
    &__icon {
        padding-left: 30px;
        color: grey;
        position: absolute;
        @include desktop {
            position: unset;
            font-size: 1.2em;
            margin-right: 15px;
        }
        @include tablet {
            position: unset;
            font-size: 1em;
            margin-right: 15px;
            padding-left: 15px;
        }
        }
    &__title {
        display: flex;
        margin: auto;
        @include desktop {
            font-size: 0.7em;
            text-align: center;
        }
        @include tablet {
            font-size: 0.6em;
            text-align: center;
        }
    }
    &:hover {
        background-color: hsla(267, 66%, 60%, 0.20);
        cursor: pointer;
        box-shadow: 2px 2px 5px 3px grey;
        &:hover .fas {
            color: $primary-color;
        }
        }
}

.master_button {
    width: 200px;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    box-shadow: 5px 5px 10px 3px #D0D0D0;
    color: white;
    font-family: arial;
    justify-content: center;
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 9px 6px rgb(146, 86, 220) inset;
        background-color: lighten($color: black, $amount: 10);
    }
}

.menu_button {
    height: 60px;
    width: 325px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0px 0px 11px 2px #D0D0D0;
    @include desktop {
        width: 290px;
    }
    @include tablet {
        width: 220px;
    }
    &:nth-child(2) {
        animation: fadein 1s;
        @keyframes fadein {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    &:nth-child(3) {
        animation: fadein 2s;
        @keyframes fadein {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    &:nth-child(4) {
        animation: fadein 3s;
        @keyframes fadein {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    &:nth-child(5) {
        animation: fadein 4s;
        @keyframes fadein {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    &__inside {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        overflow: hidden;
    }
    &__text {
        width: 200px;
        padding-bottom: 10px;
        white-space: nowrap;
        @include tablet {
            width: 130px;
        }
    }
    & h3 {
        width: 100px;
        margin: unset;
        font-size: 0.9em;
        padding-bottom: 5px;
        @include tablet {
            width: 200px;
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: width ease-in-out 1s;
        }
    }
    & p {
        display: block;
        width: 300px;
        margin: unset;
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: width cubic-bezier(.20,.30,.40,.50) 1s;
        @include tablet {
            width: 200px;
            font-size: 0.7em;
        }
    }
    &__price {
        position: relative;
        right: -50px;
        font-size: 0.8em;
        font-family: roboto;
        font-weight: bold;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: 20px;
        transition: transform 2s;
        @include desktop {
            right: -50px;
            margin-right: unset;
        }
        @include tablet {
            margin-right: 0px;
            font-size: 0.7em;
        }
    }
    & .check {
        position: relative;
        left: 60px;
        width: 40px;
        height: 40px;
        background-color: $tertiary-color;
        padding: 10px 10px 10px 10px;
        border-radius: 0px 10px 10px 0px;
        color: white;
        justify-content: center;
        align-items: center;
        transition: transform 2s;
        text-align: center;
        & .fas {
            position: relative;
            top: 10px;
            transition: transform 3s;
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 5px 3px grey;
        & .check {
            transform: translate(-100%);
            & .fas {
                transform: rotate(360deg);
            }
        }
        & .menu_button__price {
            transform: translateX(-50px);
            @include tablet {
                transform: translateX(-60px);
            }
            @include desktop {
                transform: translateX(-65px);
            }
        }
        & h3 {
            @include tablet {
                width: 130px;
            }
        }

        & p {
            width: 175px;
            @include tablet {
                width: 130px;
            }
        }
    }
}
