body {
    margin: unset;
    @include desktop {
        background-color: black;
    }
}

#page {
    margin-left: 10%;
    margin-right: 10%;
    @include desktop {
        background-color: white;
    }
}