h1 {
    font-family: 'Roboto', arial;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto', arial;
    font-weight: lighter;
}

h3 {
    font-family: 'Roboto', arial;
    font-weight: bold;
}

p {
    font-family: 'Roboto', arial;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: black;
}