@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto_regular_css/roboto-regular-webfont.woff2') format('woff2'),
         url('polices/Roboto_regular_css/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('polices/Roboto_medium_css/roboto-medium-webfont.woff2') format('woff2'),
         url('polices/Roboto_medium_css/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('./polices/Roboto_bold_css/roboto-bold-webfont.woff2') format('woff2'),
         url('./polices/Roboto_bold_css/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body h1 {
    font-family: 'Roboto', serif ;
}