.fonctionnement {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    @include desktop {
        margin-top: 10px;
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include desktop {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}


.restaurants {
    background-color: $bloc_color;
    margin-top: 70px;
    padding-bottom: 30px;
    @include desktop {
        margin-top: 30px;
    }
    &__bloc {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    &__list {
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    & h1 {
        padding-top: 30px;
    }
}

.restaurant {
    width: 100%;
    height: 290px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 11px 2px #D0D0D0;
    @include desktop {
        width: 170px;
        height: 260px;
    }    
    &__new {
        position: absolute;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        background-color: #9ae3d1;
        color: #0e9170;
        font-family: Roboto;
        font-weight: bold;
        margin-top: 15px;
        left: 235px;
        @include desktop {
            padding: 5px 10px 5px 10px;
            font-size: 0.7em;
            position: absolute;
        }
    }
    &__pic {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }
    &__box2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-left: 15px;
        @include desktop {
            padding-left: 10px;
        }
    }
    &__icon {
        font-size: 2em;
        display: flex;
        padding-right: 30px;
        @include desktop {
            font-size: 1em;
            padding-right: 10px;
        }
        &:hover{
            cursor: pointer;
            &::before {
                font-family: "Font Awesome 5 Free";
                color: $primary-color;
                font-weight: 900;
                content: "\f004";
                font-size: 1em;
                position: absolute;
            }
        }
    }
    & h2 {
        margin: unset;
        font-weight: bold;
        @include desktop {
            font-size: 0.9em;
        }
    }
    & p {
        margin-top: unset;
        @include desktop {
            font-size: 0.8em;
        }
    }
}