nav ul {
    list-style: none;
    padding-top: 10px;
    padding-left: 0;
    & li {
        color: white;
        font-family: arial;
        margin-bottom: 10px;
        &:hover{
            cursor: pointer;
            color: $primary-color;
        }
    }
    & .ustensils {
        padding-right: 12px;
    }
    & .handshake {
        padding-right: 7px;
    }
}